<app-title-page [itemName]="namePage"></app-title-page>
<app-menu-nav [itemName]="navigation"></app-menu-nav>

<div class="container">
  <div class="row">
    <div class="col-md-10">
        <p>DD/MM/YYYY HH:MM</p>
        <h1>Tytuł wpisu</h1>
        <div class="row">
          <div class="col-md-5">[fOTKA]</div>
          <div class="col-md-7">Skrócony opis wpisu</div>
        </div>
    </div>
    <div class="col-md-2">
      <h4>Kategorie:</h4>
      <p>Przygotowania</p>
      <p>Dzień 1</p>
      <p>Dzień 2</p>
    </div>
  </div>
</div>