<!-- <app-title-page [itemName]="namePage"></app-title-page>
<app-menu-nav [itemName]="navigation"></app-menu-nav> -->

<div class="BlogClass">
  <div class="container">
    <div class="row">
      <div class="col-md-9">

        [Tytuł ]<br /> [zdjęcie + opis] <br /> [Tagi + "więcej >>"]


        <div class="row">
          <div class="col-md-12">
            [
            <<--- porzednia] ( 2 ) [następna --->>]
          </div>
        </div>
      </div>
      <div class="col-md-3">
        Jakieś kategorie wpisów / grupowanie po miesiącach
      </div>
    </div>
  </div>
</div>