<div class="Footer-Style">
  <div class="container">
    <div class="row footer_style">
      <div class="copywriter">
        <div class="row">
          <div class="col-md-6 no-select">
            Copyright &copy; SkazaniNaSiebie.pl
          </div>
          <div class="col-md-6 create-by">

            <span class="glyphicon glyphicon-earphone"></span> Joanna 789-231-564&nbsp;&nbsp; | <span class="glyphicon glyphicon-earphone"></span>            Krzysztof 512-626-000

          </div>
        </div>
      </div>
    </div>
  </div>
</div>