<app-title-page [itemName]="namePage"></app-title-page>
<app-menu-nav [itemName]="navigation"></app-menu-nav>

<div class="ContactClass">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Drodzy goście,</h3>
        <p>zachęcamy do skorzystania z formularza kontaktowego. Oczywiście postaramy się jak najszybciej, odpowiedzieć na wszystkie
          wasze pytania. Jednakże przed wysłaniem pytania spradź poniżej czy ktoś już go nie zadał.
        </p>
        <h4 class="pull-right">Pozdrawiamy J&K</h4>
      </div>
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Twój adres email...">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Podaj temat zapytania...">
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="5" placeholder="Wiadomość..." id="comment"></textarea>
          </div>
          <div class="form-check">
            <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
          Akceptuje zasady okreslone w <a>regulaminie</a>.
        </label>
          </div>
          <button type="submit" class="btn btn-primary pull-right">Wyślij</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Pytania</h3>
      </div>
      <div class="col-md-12">

        <div class="QuestionClass">
          TEMAT : Ccslcs <br /> Treść pytania :<br /> Odpowiedź
        </div>

        <div class="NoItemsClass">
          Brak pytań
        </div>

      </div>
      <div class="col-md-12">
        Stronnicowanie
      </div>
    </div>
  </div>
</div>