<div id="carouselPicture" class="carousel slide" data-ride="carousel" data-pause="false">
    <div class="carousel-inner" role="listbox">
        <div class="item active" style="background-image: url('assets/picture/slider_1.jpg');">
        </div>
        <div class="item" style="background-image: url('assets/picture/slider_2.jpg');">
        </div>
        <div class="item" style="background-image: url('assets/picture/slider_5.jpg');">
        </div>
        <div class="item" style="background-image: url('assets/picture/slider_4.jpg');">
        </div>
        <div class="item" style="background-image: url('assets/picture/slider_7.jpg');">
        </div>
        <div class="item" style="background-image: url('assets/picture/slider_6.jpg');">
        </div>
        <div class="item" style="background-image: url('assets/picture/slider_3.jpg');">
        </div>
        <div class="item" style="background-image: url('assets/picture/slider_8.jpg');">
        </div>
    </div>
</div>