<div id="carouselPicture" class="carousel slide" data-ride="carousel" data-pause="false">
    <div class="carousel-inner" role="listbox">
        <div class="item active" style="background-image: url('assets/picture/slider_9.jpg');">
        </div>
        <!-- <div class="item" style="background-image: url('assets/picture/slider_2.jpg');">
        </div>
        <div class="item" style="background-image: url('assets/picture/slider_5.jpg');">
        </div>
        <div class="item" style="background-image: url('assets/picture/slider_4.jpg');">
        </div>
        <div class="item" style="background-image: url('assets/picture/slider_7.jpg');">
        </div>
        <div class="item" style="background-image: url('assets/picture/slider_6.jpg');">
        </div>
        <div class="item" style="background-image: url('assets/picture/slider_3.jpg');">
        </div>
        <div class="item" style="background-image: url('assets/picture/slider_8.jpg');">
        </div> -->
    </div>
</div>
<div class="TextInHomeSlider">
    <div class="container">
        <h1>
            <span id="hash1">She</span>
            <span id="hash2">said</span>
            <span id="hash3">YES</span>
        </h1>
    </div>
</div>