<!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active" style="background-image: url('assets/picture/slider_1.jpg');
            background-size:cover; background-position: top;">
        </div>
        <div class="item" style="background-image: url('assets/picture/slider_2.jpg');  
            background-size:cover; background-position: top;">
        </div>
        <div class="item" style="background-image: url('assets/picture/slider_5.jpg');  
            background-size:cover; background-position: top;">
        </div>
        <div class="item" style="background-image: url('assets/picture/slider_4.jpg');  
            background-size:cover; background-position: top;">
        </div>
        <div class="item" style="background-image: url('assets/picture/slider_7.jpg');  
            background-size:cover; background-position: top;">
        </div>
        <div class="item" style="background-image: url('assets/picture/slider_6.jpg');  
            background-size:cover; background-position: top;">
        </div>
        <div class="item" style="background-image: url('assets/picture/slider_3.jpg');  
            background-size:cover; background-position: top;">
        </div>
        <div class="item" style="background-image: url('assets/picture/slider_8.jpg');  
            background-size:cover; background-position: top;">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div> -->

<div class="container">
    Działa :) uuu
    <br/>
    
    <a href="/mimmi">Sex</a>
</div>