@import "../../../../../../src/theme/imports.less";
#carouselPicture {
    position: absolute;
    z-index: 2;
    top: 0;
    height: auto;
    width: 100%;
    .carousel-indicators {
        li {
            border-color: @Pink_v2;
        }
    }
    .carousel-inner {
        max-height: 760px;
        .item {
            height: 98vh;
            min-height: 300px;
            background-size: cover;
            background-position: top;
        }
    }
    .carousel-indicators .active {
        background-color: @Pink_v2;
    }
}

.TextInHomeSlider {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 12;
    h1 {
        font-size: 92px;
        font-weight: 800;
        margin-top: 300px;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        color: white;
        text-shadow: 1px 1px 10px rgba(76, 76, 76, 0.25);
        span#hash1 {
            font-size: 140px;
            font-weight: 400;
        }
        span#hash2 {
            font-size: 82px;
            font-weight: 200;
            letter-spacing: 13px;
        }
        span#hash3 {
            font-size: 260px;
            display: block;
            font-weight: 900;
            margin-top: -55px;
        }
    }
}